<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy-Hamburger.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,748},{129,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,98}}</string>
                <key>sourceSize</key>
                <string>{129,98}</string>
            </dict>
            <key>background-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,228},{21,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,320}}</string>
                <key>sourceSize</key>
                <string>{21,320}</string>
            </dict>
            <key>baconegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,353}}</string>
                <key>sourceSize</key>
                <string>{400,353}</string>
            </dict>
            <key>bloodbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,334},{200,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,330}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>bloodbag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{200,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,330}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>heartbot.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{224,400}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{224,400}}</string>
                <key>sourceSize</key>
                <string>{284,400}</string>
            </dict>
            <key>heartman.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,666},{335,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,361}}</string>
                <key>sourceSize</key>
                <string>{335,361}</string>
            </dict>
            <key>heartman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{335,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,361}}</string>
                <key>sourceSize</key>
                <string>{335,361}</string>
            </dict>
            <key>pump.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,666},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>pumped.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,228},{363,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,369}}</string>
                <key>sourceSize</key>
                <string>{363,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basic.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cadd745f5331405bf34bccb15b1cdd2a$</string>
            <key>textureFileName</key>
            <string>basic.pvr.ccz</string>
        </dict>
    </dict>
</plist>
